@model IQueryable<Document>

@{
    ViewData["Title"] = ViewBag.title ?? "Управление документами";
    bool showCategory = ViewBag.showCategory ?? false;
    const string controllerName = "DocumentManagement";
}

<h1>@ViewData["Title"]</h1>

@await Html.PartialAsync("_MainButtonPanel", controllerName)

<table class="table table-striped table-hover" id="dataTable">
    <thead>
    <tr>
        <th>
            <a href="#" data-sort-by="name" data-sort-direction="desc">Название</a>
        </th>
        @if (showCategory)
        {
            <th>Раздел</th>
        }
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    @await Html.PartialAsync("_Table", Model)
    </tbody>
</table>

@await Html.PartialAsync("~/Views/DocumentView/Form.cshtml")

<script>
    $(document).ready(function() {
        // Назначаем обработчик события клика на заголовки столбцов
        $("#dataTable th a").on("click", function(event) {
            event.preventDefault();
            handleSortClick('@controllerName', $(this));
        });
    });
</script>