@model IQueryable<Category>

@if (User.IsInRole("Editor") || User.IsInRole("Admin"))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Документы по разделам</a>
        <ul class="dropdown-menu">
            @foreach (var category in Model)
            {
                <li>
                    <a class="dropdown-item"
                       href="@Url.Action("Index", "DocumentManagement", new { categoryId = category.Id, categoryName = category.Name })">
                        @category.Name
                    </a>
                </li>
            }
        </ul>
    </li>
}

@if (User.IsInRole("User"))
{
    @foreach (var category in Model)
    {
        <li class="nav-item">
            <a class="nav-link text-dark"
               href="@Url.Action("Index", "DocumentView", new { categoryId = category.Id, categoryName = category.Name })">
                @category.Name
            </a>
        </li>
    }
}