@model IQueryable<DocumentCategory>

@foreach (var category in Model)
{
    <li class="nav-item">
        <a class="nav-link text-dark" 
           href="@Url.Action("GetDocumentsByCategory", "DocumentView", 
                     new { categoryId = category.Id, categoryName = category.Name })">
            @category.Name
        </a>
    </li>
}