@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] – Справочник документов для ознакомления</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/DocumentDirectoryWeb.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body>
<header>
    @await Html.PartialAsync("_Navbar")
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <div class="modal fade" id="modalWindow" tabindex="-1" aria-hidden="true">
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 – Справочник документов для ознакомления
    </div>
</footer>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@if (User.Identity is not null && User.Identity.IsAuthenticated)
{
    <script>
        $(document).ready(function()
        {
            showCategoryTabs();
        });
    </script>
}

@await RenderSectionAsync("Scripts", false)
</body>
</html>