@{
    ViewData["Title"] = "Информация о разработчике";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p class="mt-4 mb-3">
        Разработчик: Федосеев Данил Сергеевич<br/>
        Почта: <a href="mailto:fs159@mail.ru">fs159@mail.ru</a>
    </p>
</div>