@{
    ViewData["Title"] = "Просмотр документа";
}

<div class="modal fade" id="pdf-modal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" style="height: 90vh;">
        <div class="modal-content" style="height: 100%;">
            <div class="modal-body">
                <input type="hidden" id="document-id" name="documentId" value=""/>
                <iframe id="pdf-iframe" src="" style="width: 100%; height: 100%;"></iframe>
            </div>
            <div class="modal-footer">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="agreement-checkbox">
                    <label class="form-check-label" for="agreement-checkbox">Я ознакомился с документом&nbsp;</label>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        const pdfModal = document.getElementById('pdf-modal')
        pdfModal.addEventListener('hide.bs.modal', event => {
            location.reload(); // Перезагрузка страницы
        });
        
        $('#agreement-checkbox').change(function() {
            const documentId = $('#document-id').val();
            const isReviewed = $(this).is(':checked');
            
            let formData = new FormData();
            formData.append('documentId', documentId);
            formData.append('isReviewed', isReviewed);

            saveReview(formData);
        });

        function saveReview(formData) {
            $.ajax({
                url: '/DocumentView/SaveReview',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                  // Обработка успешного ответа от сервера
                  console.log(response);
                },
                error: function(error) {
                    console.error(error);
                    alert("Произошла ошибка при сохранении записи.");
                }
            });
        }
    });
</script>