@{
    ViewData["Title"] = "Полный отчет с фильтрацией";
}

<h1>@ViewData["Title"]</h1>

<div class="row mt-4 mb-3 g-sm-2">
    <div class="input-group">
        <input type="text" id="searchInput" class="form-control" placeholder="Поиск">
        <button id="clearButton" class="btn btn-outline-secondary" type="button">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>

<table id="dataTable" class="table border-black">
    <thead>
    <tr>
        <th>Название документа</th>
        <th>Раздел</th>
        <th>Имя пользователя</th>
        <th>Подразделение</th>
        <th>Ознакомлен</th>
        <th>Дата ознакомления</th>
    </tr>
    </thead>
</table>

<script>
    $(document).ready(function () {
        getDataForLocalTable();
    });

    function getDataForLocalTable() {
        $.ajax({
            url: '@Url.Action("GetUserDocumentReviews")',
            type: 'POST',
            contentType: 'application/json',
            success: configureLocalDataTable,
            error: function (error) {
                console.log(error);
                alert("Произошла ошибка при получении данных.");
            }
        });
    }

    function configureLocalDataTable(data) {
        // Настраиваем параметры таблицы
        const table = $('#dataTable').DataTable({
            info: false,
            ordering: true,
            paging: false,
            data: data,
            columns:
            [
                { className: 'align-middle', data: 'name' },
                { className: 'align-middle', data: 'categories' },
                { className: 'align-middle', data: 'login' },
                { className: 'align-middle', data: 'department' },
                { className: 'align-middle', data: 'isReviewed', render: function(isReviewed) { return isReviewed ? 'Да' : '' } },
                { className: 'align-middle', data: 'reviewDate', render: DataTable.render.date() }
            ],
            searchPanes: {
                layout: 'columns-4',
                columns: [0, 1, 2, 3]
            },
            columnDefs: [
                {
                    searchPanes: {
                        show: true
                    },
                    targets: [0, 1, 2, 3]
                }
            ],
            buttons: [
                'excel', 'pdf', 'print'
            ],
            dom: 'BPlfrtip',
            language: getRussianDataTableTranslation()
        });

        // Настраиваем поле поиска для таблицы
        configureSearchInput(table);
    }
</script>